services:
  ssl:
    image: ssl
    platform: linux/amd64
    container_name: ssl-app
    restart: always
    volumes:
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    ports:
      - 8080:443
