services:
  ssl:
    image: ssl
    platform: linux/amd64
    container_name: ssl-webapp
    restart: always
    environment:
      - PORT=8080
      - KEY=./cert/CA/rahulgharat.online/rahulgharat.online.decrypted.key
      - CERT=./cert/CA/rahulgharat.online/rahulgharat.online.crt
    ports:
      - 8080:8080
